a
{
	color: #ff3232;
}

a:hover,
a:focus
{
	color: #cc0000;
}

.arv6-sidebar a svg,
.offcanvas a svg,
.arv6-sidebar a i,
.offcanvas a i
{
	color: #ff3232;
}

.arv6-container
{
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: auto;
}

.arv6-sidebar
{
	width: 275px;
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	border-right: 1px #dcdee3 solid;
}

.arv6-main-side
{
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	padding: 1.5rem;
	margin-left: 275px;
	border: 0px #000 solid;
}

.arv6-brand
{
	height: 93px;
	font-size: 18px;
	padding: 1.25rem;
	text-align: center;
}

.arv6-hr
{
	margin-left: .75rem;
	margin-right: .75rem;
	border-bottom: 1px #fff solid;
}

.arv6-menu 
{
	overflow-x: hidden;
	overflow-y: scroll;
	height: calc(100vh - 100px);
}

.arv6-menu .list-group-flush a.list-group-item
{
	margin-bottom: .2rem;
	padding: .7rem 1rem;
	border: 0 !important;
}

.arv6-menu .list-group-flush a.list-group-item.active
{
	color: #000;
	border-radius: .25rem;
	background-color: #dcdee3;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.arv6-menu .list-group-flush a.list-group-item:hover
{
	color: #000;
	border-radius: .25rem;
	background-color: #dcdee3;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.arv6-menu .list-group-flush a.list-group-item[data-bs-toggle="collapse"]
{
	position: relative;
}

.arv6-menu .list-group-flush a.list-group-item[data-bs-toggle="collapse"]::before
{
	content: "";
	top: 1.1rem;
	right: 1.3rem;
	position: absolute;
	padding: 3px;
	border: solid;
	display: inline-block;
	transform: rotate(46.8deg);
	transition: all .2s ease-out;
	border-width: 0 .1rem .1rem 0;
}

.arv6-menu .list-group-flush a.list-group-item[data-bs-toggle="collapse"][aria-expanded="true"]::before
{
	transform: rotate(-135deg);
	top: 1.3rem; 
}

.arv6-header-side .dropdown-toggle::after
{
	display: none !important;
}

.arv6-header-side .dropdown-item:hover, 
.arv6-header-side .dropdown-item:focus 
{
	color: #fff;
	background-color: #ff0000;
}

.arv6-header-side .dropdown-item.active, 
.arv6-header-side .dropdown-item:active 
{
	color: #fff;
	text-decoration: none;
	background-color: #ff0000;
}

.arv6-menu .arv6-title 
{
	color: #696969;
	font-weight: 600;
	font-size: .8rem;
	padding: .7rem 1rem;
	letter-spacing: .04em;
	text-transform: uppercase;
}

.arv6-menu .navbar-vertical-divider
{
	margin-top: .5625rem;
	background-color: rgba(0, 0, 0, 0.8);
}

[data-bs-theme=light] 
{
	body
	{
		background-color: #F4F5F7 !important;
	}
	
	.arv6-sidebar
	{
		color: var(--bs-body-color);
		background-color: var(--bs-body-bg);
	}

	.arv6-box
	{
		color: var(--bs-body-color);
		border: 1px var(--bs-body-bg) solid;
		border-radius: var(--bs-border-radius);
		background-color: var(--bs-body-bg);
		box-shadow: var(--bs-box-shadow-sm);
	}
}

[data-bs-theme=dark] 
{
	body
	{
		color: var(--bs-body-color);
		background-color: var(--bs-body-bg);
	}

	.arv6-sidebar
	{
		color: var(--bs-body-color);
		border-right: var(--bs-secondary-bg);
		background-color: var(--bs-secondary-bg);
	}

	.arv6-sidebar .arv6-menu .list-group-item
	{
		background-color: var(--bs-secondary-bg);
	}

	.arv6-menu .arv6-title
	{
		color: var(--bs-dark-text-emphasis);
	}

	.arv6-box
	{
		color: var(--bs-body-color);
		border: 1px var(--bs-dark-border-subtle) solid;
		border-radius: var(--bs-border-radius);
		background-color: var(--bs-secondary-bg);
	}
}

@media (max-width: 767.98px)
{
	.arv6-sidebar
	{
		display: none;
	}

	.arv6-main-side
	{
		height: 100vh;
		height: -webkit-fill-available;
		max-height: 100vh;
		padding: 1rem;
		margin-left: 0;
		border: 0px #000 solid;
	}

	.arv6-main-side .navbar-nav .dropdown-menu 
	{
		position: absolute !important;
	}
}

@media (max-width: 991.98px)
{
	.arv6-sidebar
	{
		display: none;
	}

	.arv6-main-side
	{
		height: 100vh;
		height: -webkit-fill-available;
		max-height: 100vh;
		padding: 1rem;
		margin-left: 0;
		border: 0px #000 solid;
	}

	.arv6-main-side .navbar-nav .dropdown-menu 
	{
		position: absolute !important;
	}	
}

@media (min-width: 992px)
{
	.arv6-header-side .arv6-button-bars 
	{
		display: none;
	}
}